[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic-settings = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
tmdbsimple = "*"
starlette = "==0.47.1"
openai = "*"

[dev-packages]

[scripts]
server = "uvicorn app.main:app --reload"

[requires]
python_version = "3.11"
